/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {


	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

    .pixfort_gym_13 .img_gym_st{position: relative; width:100%; height: auto;         }
    .pixfort_gym_13 .gym_st{ height: 40px; }

    .pixfort_gym_13 .rights_st {float: none;text-align: center;   }
    .pixfort_gym_13 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center; }
    .pixfort_gym_13 .socbuttons {text-align: center;  }
    .pixfort_gym_13 .soc_icons {float: none;text-align: center; }


	}


	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {


    .pixfort_gym_13 .logo_width{max-width: 90%; }

    .pixfort_gym_13 .img_gym_st{position: relative; width:100%; height: auto;         }
    .pixfort_gym_13 .part_st {text-align: center;    }

    .pixfort_gym_13 .rights_st {float: none;text-align: center;   }
    .pixfort_gym_13 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center; }
    .pixfort_gym_13 .socbuttons {text-align: center;  }


       }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

    .pixfort_gym_13 .logo_width{max-width: 80%; }

    .pixfort_gym_13 .img_gym_st{position: relative; width:100%; height: auto;         }
    .pixfort_gym_13 .part_st {text-align: center;    }


    .pixfort_gym_13 .text_st {width: 69%;  text-align: center;        }
    .pixfort_gym_13 .title_st,  .pixfort_gym_13 .subject_st {width:100%;        }

    .pixfort_gym_13 .substyle{text-align: center;         }
    .pixfort_gym_13 .text-style {max-width: 100%; margin-left:20px; margin-right: 20px;       }

    .pixfort_gym_13 .rights_st {float: none;text-align: center;   }
    .pixfort_gym_13 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center; }
    .pixfort_gym_13 .socbuttons {text-align: center;  }
    .pixfort_gym_13 .note_contact {margin-bottom: 60px;}
    .pixfort_gym_13 .text_st { padding-left: 0px;}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {


    .pixfort_gym_13 .htext_style{margin-right: 0px;}


    .pixfort_gym_13 .logo_width{width: 70%; }

    .pixfort_gym_13 .img_gym_st{position: relative; width:100%; height: auto;         }

    .pixfort_gym_13 .link_1_btn a {float: none;}
    .pixfort_gym_13 .link_2_btn a {float: none;}
    .pixfort_gym_13 .link_3_btn a {float: none;}

    .pixfort_gym_13 .text_st {width: 69%;  text-align: center;padding-left: 0px;}
    .pixfort_gym_13 .title_st,  .pixfort_gym_13 .subject_st {width:100%;        }

    .pixfort_gym_13 .zone_left{ text-align: center;}
    .pixfort_gym_13 .icon_st img{float: none; text-align: center;}

    .pixfort_gym_13 .substyle{text-align: center;         }
    .pixfort_gym_13 .text-style {max-width: 100%; margin-left:20px; margin-right: 20px;       }

    .pixfort_gym_13 .box_style{width: 85%;}

    .pixfort_gym_13 .rights_st {float: none;text-align: center;   }
    .pixfort_gym_13 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center;}
    .pixfort_gym_13 .socbuttons {text-align: center;  float: none;}
    .pixfort_gym_13 .soc_icons {float: none;text-align: center; }
    .pixfort_gym_13 .note_contact {margin-bottom: 60px;}
    .pixfort_gym_13 .send_btn button {width: 100%;}

    }


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/