
<!doctype html>
<html lang="en">
<head>
<script src="//cdn.optimizely.com/js/1992650016.js"></script>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>{{title}}</title>
    <meta name="description" content="Startups template">
    <meta name="keywords" content="Startups template">
    <link rel="shortcut icon" href="landing_2/assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="landing_2/assets/img/apple-touch-icon.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="landing_2/assets/img/apple-touch-icon-72x72.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="landing_2/assets/img/apple-touch-icon-114x114.jpg">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="landing_2/assets/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="landing_2/assets/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="landing_2/assets/css/font-lineicons.css" type="text/css" media="all" />
    <link rel="stylesheet" href="landing_2/assets/css/animate.css" type="text/css" media="all" />
    <link rel="stylesheet" href="landing_2/assets/css/toastr.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="landing_2/assets/css/style.css" type="text/css" media="all" />
    
    <!--[if lt IE 9]>
        <script src="assets/js/html5.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body id="landing-page">
	    <!-- Preloader -->
    <div id="mask">
        <div id="loader"></div>
    </div>

        
    <header>
        <nav class="navigation navigation-header">
            <div class="container">
                <div class="navigation-brand">
                    <div class="brand-logo">
						<a href="index.html" class="logo"></a>
						<span class="sr-only">startup.ly</span>
                    </div>
                    <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown" data-target=".navigation-navbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navigation-navbar">
                    <ul class="navigation-bar navigation-bar-right">
                        <li class="active"><a href="#hero">Home</a></li>
<!--                         <li><a href="#about">About</a></li> -->
                        <li><a href="#features-list">Features</a></li>
<!--						    <li><a href="#product">Prices</a></li>-->
<!--                         <li><a href="#feedback">Feedback</a></li> -->
<!--                         <li><a href="#team">Team</a></li> -->
                        <li><a href="mailto:parker@indataly.com">Contact</a></li>
                    </ul>
<!--                     <ul class="navigation-bar navigation-bar-right">
                        <li><a href="register.html">Login</a></li>
                        <li class="featured"><a href="register.html">Request early access</a></li>
                    </ul>   -->
                </div>
            </div>
        </nav>
    </header>
    
	<div id="hero" class="static-header register-version light clearfix">

        <div class="text-heading">
            <h1 class="animated hiding" data-animation="bounceInDown" data-delay="0">SEO made for Everyone!</h1>
            <p class="animated hiding" data-animation="fadeInDown" data-delay="500">A Dashboard with all the tools to improve your website rankings.</p>
        </div>
		
		<div class="container">
			<div class="signup-wrapper animated hiding" data-animation="bounceInUp" data-delay="0">
				<div class="row">
						<form class="form-inline form-register form-register-small" method="post" action="/process_email">
						
							<div class="form-group">
								<input size="30" type="text" class="form-control required" name="fullname" id="fullname" placeholder="Your name">
							</div>
							
							<div class="form-group">
								<input size="25" type="email" class="form-control required email" name="email" id="email" placeholder="Email">
							</div>
							<div class="form-group submit-wrap">
								<input type="hidden" name="small-form"/>
								<button type="submit" class="btn btn-primary btn-md cta">Request early access</button>
							</div>
						</form>
				</div>
			</div>
		</div>
		
    </div>

   
    
    <a id="showHere"></a>
    
    
    <hr class="no-margin" />
    

	<section id="features-list" class="section dark">
        <div class="container animated hiding" data-animation="fadeInDown">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">	
					<i class="icon icon-office-44 icon-active"></i>
                    <span class="h7">Google pagespeed insights</span>
                    <p class="thin">PageSpeed Insights analyzes the content of a web page, then generates suggestions to make that page faster. </p>
                </article>
            </div>                       
			<div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">	
					<i class="icon icon-multimedia-18 icon-active"></i>
                    <span class="h7">Website monitoring</span>
                    <p class="thin">Website availability, monitoring and alerting  for incident and error detection.</p>
                </article>
            </div>             
			<div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">	
					<i class="icon icon-seo-icons-27 icon-active"></i>
                    <span class="h7">URL metrics</span>
                    <p class="thin">Returns every metric information about a URL, e.g domain authority, page authority, etc.. </p>
                </article>
            </div>             
			<div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">	
					<i class="icon icon-graphic-design-24 icon-active"></i>
                    <span class="h7">Rankings tracker </span>
                    <p class="thin">Check, Track & Analyze your Google Rankings. Monitor Backlinks. Check positions of keywords</p>
                </article>
            </div>             
			<div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">	
					<i class="icon icon-graphic-design-13 icon-active"></i>
                    <span class="h7">Keyword tool</span>
                    <p class="thin">Generate relevant long-tail keywords based on google autocomplete. Keyword Suggestions</p>
                </article>
            </div>             
			<div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">	
					<i class="icon icon-arrows-37 icon-active"></i>
                    <span class="h7">Content marketing</span>
                    <p class="thin">Article Analysis & Scraper. URLs submission on popular social media sites. Track content on Twitter </p>
                </article>
            </div>             
			<div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">	
					<i class="icon icon-office-24 icon-active"></i>
                    <span class="h7">Scheduled reporting</span>
                    <p class="thin">Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero. </p>
                </article>
            </div>             
			<div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">	
					<i class="icon icon-seo-icons-16 icon-active"></i>
                    <span class="h7">Weekly SEO tips</span>
                    <p class="thin">We send you weekly tips on optimizing your website for Google. </p>
                </article>
            </div>           
        </div>
    </section>	
	
    <footer id="footer" class="footer light inverted">
        <div class="container">
            <div class="footer-content row">
            </div>
        </div>
        <div class="copyright">INDATALY 2015. All rights reserved.</div>
    </footer>
    
    <div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div>
    
    <!--[if lt IE 9]>
        <script type="text/javascript" src="landing_2/assets/js/jquery-1.11.0.min.js?ver=1"></script>
    <![endif]-->  
    <!--[if (gte IE 9) | (!IE)]><!-->  
        <script type="text/javascript" src="landing_2/assets/js/jquery-2.1.0.min.js?ver=1"></script>
    <!--<![endif]-->  
    
    <script type="text/javascript" src="landing_2/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="landing_2/assets/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="landing_2/assets/js/jquery.nav.js"></script>
    <script type="text/javascript" src="landing_2/assets/js/jquery.appear.js"></script>
    <script type="text/javascript" src="landing_2/assets/js/jquery.plugin.js"></script>
    <script type="text/javascript" src="landing_2/assets/js/jquery.countdown.js"></script>
    <script type="text/javascript" src="landing_2/assets/js/waypoints.min.js"></script>
    <script type="text/javascript" src="landing_2/assets/js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="landing_2/assets/js/jquery.validate.js"></script>
    <script type="text/javascript" src="landing_2/assets/js/toastr.min.js"></script>
    <script type="text/javascript" src="landing_2/assets/js/headhesive.min.js"></script>
	<script type="text/javascript" src="landing_2/assets/mailchimp/js/mailing-list.js"></script>
    <script type="text/javascript" src="landing_2/assets/js/scripts.js"></script>
	
	  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-6101640-26', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>